body{
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 10px 20px 30px;
}


.StateLessContainer{
  padding: 20px 30px;
  border: 3px solid green;
  margin-bottom: 3px;
}

.StateLessContainer.error{
  border: 3px solid red;
}

.functionButton{
  border: none;
  padding: 5px 20px;
  margin-right: 10px;
}
.functionButton:hover{
  background: #ffcc00;
}

.myChildrenComponent{
  padding: 20px 50px;
  background: #eee;
  margin-bottom: 20px;
}
